/* Base
--------------------------------------------------------------------------------*/

a[disabled], input[disabled], button[disabled], textarea[disabled] {
    cursor: not-allowed !important;
    opacity: .5 !important;
}

a:focus, input:focus, button:focus, textarea:focus {
    outline: none;
}

p {
    margin-top: 0;
    margin-bottom: 10px;
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
}

.wrapper {
    overflow: hidden;
}
.md-text-left, .text-left {
    text-align: left !important;
}

.md-text-center, .text-center {
    text-align: center !important;
}

.md-text-right, .text-right {
    text-align: right !important;
}

.md-text-underline {
    text-decoration: underline !important;
}

.md-round {
    border-radius: 5px !important;
}

.md-pill {
    border-radius: 50% !important;
}

.md-tb {
    display: table;
    width: 100%;
    height: 100%;
}

.md-tb-cell {
    display: table-cell;
    vertical-align: middle;
}

.md-overlay {
    background-color: rgba(0, 0, 0, .4);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.bg-fixed {
    background-attachment: fixed;
}

.md-bg-cover {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.full {
    width: 100%;
    height: 100vh;
}

.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}

.embed-responsive.embed-responsive-4by3 {
    padding-bottom: 75%;
}

.embed-responsive.embed-responsive-16by9 {
    padding-bottom: 56.25%;
}

.embed-responsive .embed-responsive-item, .embed-responsive iframe,
.embed-responsive embed, .embed-responsive object {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
a {
    color: inherit;
    text-decoration: none;
}

img {
    vertical-align: middle;
}

a:hover {
    text-decoration: none;
    color: #5360fe;
}

a:focus {
    text-decoration: none;
}

::-moz-selection {
    color: #fff;
    background-color: #1a1a23;
}

::selection {
    color: #fff;
    background-color: #1a1a23;
}


input[type="submit"].btn-block, input[type="reset"].btn-block,
input[type="button"].btn-block {
    width: 100%;
}

/* Back to top button */

.back-to-top {
    position: fixed;
    display: none;
    background: #303136;
    color: #fff;
    padding: 2px 20px 8px 20px;
    font-size: 16px;
    border-radius: 4px 4px 0 0;
    right: 15px;
    bottom: 0;
    transition: none;
}

.back-to-top:focus {
    background: #303136;
    color: #fff;
    outline: none;
}

.back-to-top:hover {
    background: #18191d;
    color: #fff;
}


/* form-item
--------------------------------------------------------------------------------*/

.form-control, select, textarea, input[type="text"], input[type="password"],
input[type="datetime"], input[type="datetime-local"], input[type="date"],
input[type="month"], input[type="time"], input[type="week"],
input[type="number"], input[type="email"], input[type="url"],
input[type="search"], input[type="tel"], input[type="color"] {
    box-shadow: none;
    outline: none;
    margin: 0;
    border-radius: 0;
    padding: 0 15px;
    line-height: 44px;
    border: 1px solid #ebebeb;
    color: #000;
    font-size: 14px;
    vertical-align: middle;
    height: 46px;
    width: 100%;
    margin-bottom: 20px;
    background-color: #f7f7f7;
}



input:not([type="button"]):not([type="submit"]):not([type="radio"]):not([type="checkbox"]):not([type="color"]),
textarea {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

input[type="checkbox"], input[type="radio"] {
    width: auto !important;
}

textarea {
    height: auto !important;
}


.list-style-none {
    list-style: none;
    padding: 0;
    margin: 0;
}

.image-full img {
    width: 100% !important;
}

.overflow-hidden {
    overflow: hidden;
}

.inline-block {
    display: inline-block;
}

.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.row.no-gutters > [class^="col-"], .row.no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
}
/* Typography */

body {
    margin: 0;
    padding: 0;
    line-height: 1.875;
    font-size: 14px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    color: #626262;
}

body.md-skin-dark {
    background-color: #1a1a23;
}

.md-skin-dark {
    color: rgba(255, 255, 255, .8);
}

.md-skin-dark h1, .md-skin-dark h2, .md-skin-dark h3, .md-skin-dark h4,
.md-skin-dark h5, .md-skin-dark h6 {
    color: white;
}

a {
    color: #1f1c2f;
    transition: all .3s ease;
}

a, input, textarea, select {
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    line-height: 1.33333;
    color: #1f1c2f;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    color: #5360fe;
    text-decoration: none;
}

h1 {
    font-size: 68px;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

h3, h1, h2, h3 {
    margin-top: 0;
    margin-bottom: 15px;
}

h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 15px;
}

img {
    max-width: 100%;
}

/* dropdown
--------------------------------------------------------------------------------*/

.dropdown {
    position: relative;
}

.dropdown-toggle {
    font-size: 14px;
    font-weight: 700;
    color: #626262;
}

.dropdown-content {
    color: #1f1c2f;
    top: 100%;
    right: 0;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 30px rgba(0, 0, 0, .1);
    display: block !important;
    padding: 20px;
    line-height: 1.5;
    min-width: 100px;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    transition: all ease .3s;
    z-index: 99;
}

.dropdown-content[data-position="left"] {
    left: 0;
    right: auto;
}

.dropdown-content[data-position="center"] {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}

.dropdown-content.open {
    display: block;
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
            transform: translateY(0);
}


/* formSearch
--------------------------------------------------------------------------------*/

.form-search {
    content: '';
}

.bg-banner-img{

    background: rgba(255,255,255,0);
    background-image: url(../assets/img/backgrounds/1.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.clip-ellipse {
  clip-path: ellipse(95%  100% at top);
  -webkit-clip-path: ellipse(93%  100% at top);

}
.clip-ellipse {
    clip-path: ellipse(100% 150% at top);
    -webkit-clip-path: ellipse(100% 150% at top);
}
/*start banner area */
/*--------------------------------------------------*/
.title-left h1{
    font-size: 35px;
    font-weight: 700;
    color: #364167;
        line-height: 50px;
    text-transform: capitalize;
}

.bg-banner-img{
    background: rgba(255,255,255,0);
    background-image: url(../img/backgrounds/1.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.clip-ellipse {
  clip-path: ellipse(95%  100% at top);
  -webkit-clip-path: ellipse(93%  100% at top);

}
@media (max-width: 480px) {
  .clip-ellipse {
    clip-path: ellipse(100% 150% at top);
    -webkit-clip-path: ellipse(100% 150% at top);
}
}
.mb-90{
  padding-bottom:140px;
}
.color-gray{
  color:#dedede;
}

.back-shap{
    background-image: url(../images/shap-a.png);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

.ovrllay{
    position: relative;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    right: 0;
 background-image: linear-gradient(to right top ,#2725b9d4,#3a39dcd1,#e748bec2 ,#e748bec9 ,#e748beb5)!important;

}
img{
    vertical-align: middle;
    max-width: 100%;
}
.shap_top{
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    padding-bottom: 30px;
}
.all-text {
    padding: 108px 50px;
}
.shap_bottom{
    font-size: 20px;
    line-height: 30px;
    color: #fff;
}


.banner-text{
   text-align: center;
    font-size: 20px;
    color: #fff;
    line-height: 40px;
}
.py-70{
  padding: 70px 0px;
}
.mb-60{
  margin-bottom: 60px;
}
/* End banner area */
/* arousel-hash
--------------------------------------------------------------------------------*/
.buttonHash {
    margin-top: 30px;
}
/* carousel
--------------------------------------------------------------------------------*/

.owl-carousel .owl-item {
    display: inline-block;
    vertical-align: top;
    float: none;
}

.owl-carousel .owl-item img {
    width: 100%;
}

.owl-nav,
.owl-dots {
    text-align: center;
    margin-top: 5px;
}

.owl-dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    background-color: #c2c2c2;
}

.owl-dot.active {
    background-color: #000;
}

.owl-prev,
.owl-next {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 0;
    display: inline-block;
    top: 50%;
    position: absolute;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.owl-prev:after,
.owl-next:after {
    font-size: 36px;
    font-family: FontAwesome;
    line-height: 1;
}

.owl-prev.disabled,
.owl-next.disabled {
    color: #c2c2c2;
}

.owl-prev {
    left: 0;
}

.owl-prev:after {
    content: "\F104";
}

.owl-next {
    right: 0;
}

.owl-next:after {
    content: "\F105";
}

@media (min-width: 576px) {
    .owl-prev {
        left: -40px;
    }

    .owl-next {
        right: -40px;
    }
}

.js-slider .owl-item {
    opacity: .3;
}

.js-slider .owl-item.active {
    opacity: 1;
}

.our-slide {
    margin: 0 -30px;
    overflow: hidden;
}

.our-slide .carousel-element {
    padding: 0 30px;
}

.our-slide .owl-stage-outer {
    overflow: visible !important;
}
/* textbox
--------------------------------------------------------------------------------*/

.textbox {
    padding: 10px;
    margin: 50px 0;
    background-color: white;
    text-align: center;
    transition: all ease .3s;
}

.textbox:hover {
    box-shadow: 0 15px 50px 0 rgba(0, 0, 0, .2);
}

.textbox-image img {
    width: 100%;
}

.textbox-body {
    padding: 20px;
}

@media (min-width: 992px) {
    .textbox-body {
        padding: 25px 30px;
    }
}

.textbox-title {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 25px;
}

.textbox-description {
    color: #c2c2c2;
}

.textbox__style-02 {
    border: 1px solid #ebebeb;
}

.textbox__style-02 .textbox-description {
    margin-bottom: 15px;
}

@media (min-width: 768px) {
    .textbox-group {
        position: relative;
        -webkit-transform: translateY(-35%);
                transform: translateY(-35%);
    }
}



/* header
--------------------------------------------------------------------------------*/

.header {
    position: fixed;
    z-index: 999;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .1);
    transition: background ease .3s;
}

.header .container {
    position: relative;
}

.header:after, .header:before {
    content: "";
    display: table;
    clear: both;
}

.header .navbar {
    float: right;
    transition: padding .3s ease;
    padding: 35px 20px;
}

.header .navbar .menu a {
    text-transform: capitalize;
}

@media (min-width: 992px) {
    .header .navbar .menu a {
        text-transform: uppercase;
    }
}

@media (min-width: 992px) {
    .header .navbar {
        text-align: center;
        padding: 0;
        float: none;
    }
}

.header .search-form {
    display: inline-block;
    margin-left: 10px;
}

@media (min-width: 992px) {
    .header .search-form {
        margin-left: 40px;
    }
}

.header.shrink {
    position: fixed;
    background-color: #000;
}

.header.shrink .header-logo {
    height: 60px;
    line-height: 60px;
}

.header.shrink .header-chooseLanguage, .header.shrink .search-form-toggle {
    height: 70px;
    line-height: 70px;
}

@media (min-width: 992px) {
    .header.shrink .navbar .menu > li > a {
        height: 70px;
        line-height: 70px;
    }
}

.header.shrink .navbar {
    padding: 15px 20px;
}

@media (min-width: 992px) {
    .header.shrink .navbar {
        padding: 0;
    }
}

.header + * {
    margin-top: 100px;
}

.header-logo {
    height: 100px;
    max-width: 100px;
    line-height: 100px;
    float: left;
    transition: height .3s ease;
}

.header-chooseLanguage {
    display: inline-block;
    height: 100px;
    line-height: 100px;
    transition: height .3s ease;
}

.header-chooseLanguage i {
    margin: 0 5px;
}

.header-chooseLanguage a {
    display: block;
}

.header-toogleGroup {
    float: right;
}

.search-form-toggle {
    height: 100px;
    line-height: 100px;
    transition: height .3s ease;
    cursor: pointer;
}

.search-form_form {
    top: 100%;
    right: 0;
    position: absolute;
    width: 100%;
    height: 60px;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    transition: all .3s ease;
}

@media (min-width: 576px) {
    .search-form_form {
        width: 300px;
    }
}

.search-form_form .form-search, .search-form_form .form-search > form,
.search-form_form .form-search > form > input {
    height: 100%;
    background-color: white;
}

.search-form {
    position: relative;
}

.search-form.open .search-form_form {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
            transform: translateY(0);
}

.header-style {
    background-color: transparent;
}

.header-style + * {
    margin-top: 0;
}

.header-style:not(.shrink) {
    box-shadow: none;
}

.header-style:not(.shrink) .navbar .menu > li > a {
    color: #fff;
}

.header-style:not(.shrink) .navbar .menu .current-menu-item > a {
    color: #5360fe;
}

.header-style:not(.shrink) .dropdown-toggle {
    color: #c2c2c2;
}

.header-style:not(.shrink) .search-form-toggle {
    color: #fefefe;
}

.header-style .navbar-toggle > span {
    background-color: #fefefe;
}

.header__style-03 {
    background-color: transparent;
    box-shadow: none;
}

.header__style-03 + * {
    margin-top: 0;
}

.navbar-toggle {
    cursor: pointer;
}

.navbar-toggle > span {
    width: 31px;
    height: 3px;
    background-color: #1f1c2f;
    display: block;
    margin: 5px auto;
    transition: all .3s ease-in-out;
}

.navbar-toggle.open > span:nth-child(1), .navbar-toggle.open > span:nth-child(3) {
    width: 25px;
}

.navbar-toggle.open > span:nth-child(1) {
    -webkit-transform: translateX(-10px) rotate(-45deg);
            transform: translateX(-10px) rotate(-45deg);
}

.navbar-toggle.open > span:nth-child(3) {
    -webkit-transform: translateX(-10px) rotate(45deg);
            transform: translateX(-10px) rotate(45deg);
}

.navbar {
    z-index: 999;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
}

.navbar li {
    position: relative;
    z-index: 9;
}

.navbar li a {
    display: block;
    position: relative;
    text-decoration: none;
}

@media (min-width: 993px) {
    .navbar {
        text-align: center;
    }

    .navbar li:hover > a {
        color: #5360fe;
    }

    .navbar .menu .sub-menu {
        opacity: 0;
        visibility: hidden;
        -webkit-transform: scaleY(0);
                transform: scaleY(0);
        -webkit-transform-origin: 50% 0;
                 transform-origin: 50% 0;
    }

    .navbar .menu li:hover > .sub-menu {
        opacity: 1;
        visibility: visible;
        -webkit-transform: scaleY(1);
                transform: scaleY(1);
    }

    .navbar .menu a {
        padding: 20px 30px;
    }

    .navbar .menu .sub-menu {
        background-color: #fff;
        text-align: left;
        border: 1px solid rgba(0, 0, 0, .1);
        border-top: 3px solid #5360fe;
    }

    .navbar .menu .sub-menu a {
        padding: 10px 15px;
        border-top: 1px solid rgba(0, 0, 0, .1);
    }

    .navbar .menu .sub-menu a:after {
        right: 15px;
    }

    .navbar .menu .sub-menu li .sub-menu {
        top: -2px;
    }

    .navbar .menu .sub-menu li:first-child > a {
        border-top: 0;
    }

    .navbar .menu .sub-menu li:first-child .sub-menu {
        top: -3px;
    }

    .navbar .menu > li {
        display: inline-block;
    }

    .navbar .menu a {
        font-size: 14px;
        color: #868686;
        transition: all 300ms ease;
        font-weight: 700;
        text-transform: uppercase;
        padding: 0 25px;
        height: 100px;
        line-height: 100px;
    }

    .navbar .menu .sub-menu {
        display: block !important;
    }

    .navbar .menu .sub-menu .current-menu-parent > a,
    .navbar .menu .sub-menu .current-menu-item > a {
        color: #5360fe;
    }

    .navbar .menu .current-menu-parent > a,
    .navbar .menu .current-menu-item > a {
        color: #5360fe;
    }

    .navbar .menu .sub-menu {
        width: 250px;
        position: absolute;
        top: 100%;
        z-index: -1;
        left: 0;
        transition: all 300ms cubic-bezier(.175, .885, .32, 1.275);
    }

    .navbar .menu .sub-menu .sub-menu {
        top: 0;
        left: 100%;
    }

    .navbar .menu .sub-menu li.menu-item-has-children > a:after {
        font-family: "FontAwesome";
        content: "\F105";
        position: absolute;
        top: 50%;
        -webkit-transform: translate(0, -50%);
                transform: translate(0, -50%);
    }

    .navbar .menu .sub-menu li > a {
        font-size: 14px;
        transition: all 300ms ease;
        font-weight: 300;
        text-transform: capitalize;
        height: auto;
        line-height: 1.875;
        color: #8f8f8f;
        border-bottom: none;
        box-shadow: none;
    }

    .navbar .menu .sub-menu li:hover > a {
        color: #5360fe;
    }

    .navbar .menu .sub-menu li .current-menu-parent > a,
    .navbar .menu .sub-menu li .current-menu-item > a {
        color: #5360fe;
    }

    .navbar .navbar-toggle {
        display: none;
    }
}

@media (max-width: 992px) {
    .navbar .menu {
        position: fixed;
        top: 0;
        will-change: transform;
    }

    .navbar .menu a {
        font-size: 14px;
    }

    .navbar .menu a:after {
        right: 0;
        width: 50px;
        text-align: center;
    }

    .navbar .menu .sub-menu {
        display: none;
    }

    .navbar .menu {
        background-color: #111;
    }

    .navbar .menu a {
        border-bottom: 1px solid rgba(255, 255, 255, .1);
        color: #eee;
    }

    .navbar .menu a:after {
        border-left: 1px solid rgba(255, 255, 255, .1);
    }

    .navbar .menu {
        left: 0;
        width: 280px;
        background-color: #111;
        -webkit-transform: translate(-100%, 0);
                transform: translate(-100%, 0);
    }

    .navbar .active.menu {
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
    }

    .navbar .menu {
        z-index: 99999;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        text-align: left;
        width: 280px;
        transition: all 300ms ease;
    }

    .navbar .menu li {
        position: relative;
    }

    .navbar .menu li.menu-item-has-children > a:after {
        font-family: "FontAwesome";
        content: "\F107";
        position: absolute;
        top: 50%;
        -webkit-transform: translate(0, -50%);
                transform: translate(0, -50%);
    }

    .navbar .menu a {
        padding: 12px 15px;
        font-size: 14px;
    }

    .navbar .menu a:hover {
        color: #5360fe;
    }

    .navbar .menu .active > a {
        color: #5360fe;
    }

    .navbar .menu .current-menu-parent > a,
    .navbar .menu .current-menu-item > a {
        color: #5360fe;
    }

    .navbar .menu .sub-menu a {
        padding: 12px 15px;
    }

    .navbar .menu .sub-menu .menu-item-has-children > a:hover {
        color: #5360fe;
    }

    .navbar .menu .sub-menu .menu-item-has-children.active > a {
        color: #5360fe;
    }

    .navbar .menu .sub-menu .menu-item-has-children.current-menu-parent > a {
        color: #5360fe;
    }

    .navbar .menu .sub-menu .current-menu-item > a {
        color: #5360fe;
    }

    .navbar .navbar-toggle {
        display: block;
    }
}

/* slider
--------------------------------------------------------------------------------*/

.slider {
    position: relative;
}

.slider .owl-video-tn {
    width: 100%;
    background-size: cover;
}

.slider-item {
    height: 100vh;
    text-align: center;
}

.slider-item:after {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}

.slider-content {
    position: relative;
    z-index: 2;
}

.slider-content h2 {
    font-weight: 400;
    color: white;
    font-size: 30px;
}

@media (min-width: 320px) {
    .slider-content h2 {
        font-size: calc(5.65476vw + 11.90476px);
    }
}

@media (min-width: 992px) {
    .slider-content h2 {
        font-size: 68px;
    }
}

.slider-content p {
    font-size: 18px;
    color: #c2c2c2;
}

/* Custom */
.textbox-section {
    position: relative;
    /* overflow: hidden; */
    z-index: 9;
    background-color:#f7f7f7;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.textbox-section:after {
    width: 120%;
    height: 200px;
    left: -10%;
    background: #18191d;
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
    content: "";
    position: absolute;
    bottom: -100px;
}

.about-section {
    padding: 7em 0 7em 0;
    background: #18191d !important;
}
.about-section h2{
    color: white;
}
.about-section .lead {
    color: white;
}
.about-section.about-slant {
    padding: 7em 0 22em 0;
}

.about-slant {
    position: relative;
    overflow: hidden;
}

.about-slant:after {
    width: 120%;
    height: 200px;
    left: -10%;
    background: #18191d;
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
    content: "";
    position: absolute;
    bottom: -100px;
}

@media screen and (max-width: 960px) {
    .about-slant:after {
        bottom: -150px;
    }
}

@media screen and (max-width: 768px) {
    .about-slant:after {
        bottom: -170px;
    }
}

.about-slant.about-slant-white:after {
    background: #fff;
}

.service-section {
    padding: 7em 0 7em 0;
    background: white !important;
}

.service-section h2 {
    color: black;
}

.service-section .lead {
    color: black;
}

.service-section.service-slant {
    padding: 7em 0 22em 0;
}

.service-slant {
    position: relative;
    overflow: hidden;
}

.service-slant:after {
    width: 120%;
    height: 200px;
    right: -10%;
    background: black;
    -webkit-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
    content: "";
    position: absolute;
    bottom: -100px;
}

@media screen and (max-width: 960px) {
    .service-slant:after {
        bottom: -150px;
    }
}

@media screen and (max-width: 768px) {
    .service-slant:after {
        bottom: -170px;
    }
}

.service-slant.service-slant-dark:after {
    background: #292f74;
}

.portfolio-section {
    padding: 7em 0 7em 0;
    background: #292f74 !important;
}

.portfolio-section h2 {
    color: white;
}

.portfolio-section .lead {
    color: white;
}

.portfolio-section.portfolio-slant {
    padding: 7em 0 22em 0;
}

.portfolio-slant {
    position: relative;
    overflow: hidden;
}

.portfolio-slant:after {
    width: 120%;
    height: 200px;
    right: -10%;
    background: #292f74;
    -webkit-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
    content: "";
    position: absolute;
    bottom: -100px;
}

@media screen and (max-width: 960px) {
    .portfolio-slant:after {
        bottom: -150px;
    }
}

@media screen and (max-width: 768px) {
    .portfolio-slant:after {
        bottom: -170px;
    }
}

.portfolio-slant.portfolio-slant-white:after {
    background: #fff;
}

/* Testimonial */
.our-slide {
    margin: 0 -30px;
    overflow: hidden;
}

.our-slide .carousel-element {
    padding: 0 30px;
}

.our-slide .owl-stage-outer {
    overflow: visible !important;
}

.testimonial {
    border: 1px solid #ebebeb;
    padding: 40px 50px;
    margin: 50px 0;
    background-color: white;
    transition: all ease .3s;
}

.testimonial:hover {
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .2);
}

.testimonial-info {
    overflow: hidden;
    margin-bottom: 30px;
    position: relative;
}

.testimonial-info:after {
    /* content: "\E67E"; */
    font-family: 'themify';
    font-size: 48px;
    color: #c2c2c2;
    top: -15px;
    right: 5px;
    position: absolute;
}

.testimonial-avatar {
    float: left;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 30px;
}

.testimonial-name {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0;
}

.testimonial-position {
    color: #c2c2c2;
}

.testimonial-content {
    font-size: 16px;
}

.testimonial-text {
    font-size: 16px;
}
/* partner
--------------------------------------------------------------------------------*/

.partner {
    text-align: center;
    margin-bottom: 30px;
    transition: all ease .3s;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.partner img {
    width: auto !important;
    display: inline-block !important;
}

.partner:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}
/* Contact Section
--------------------------------*/
.contact {
    /* box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1); */
    padding: 5% 0;
    background: #18191d;
}
.contact-about img{
    max-width: 500px;
    width: 100%;
    height: auto;
}

.contact .contact-about p {
    margin: 5% auto;
    font-size: 15px;
    text-align: justify;
    line-height: 24px;
    color: #fff;
}

.contact .social-links {
    margin: 0 auto;
    padding: 2% auto;
}

.contact .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #fff;
    color: #18191d;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    border: 1px solid #18191d;
}

.contact .social-links a:hover {
    background: #18191d;
    color: #fff;
}

.contact .info {
    color: #333333;
    margin: 5% 10%;
}

.contact .info i {
    font-size: 40px;
    color: #fff;
    float: left;
    line-height: 1;
}

.contact .info p {
    padding: 0 0 10px 42px;
    line-height: 28px;
    font-size: 16px;
    color: white;
}
.form-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px
}

.form-row>.col,
.form-row>[class*=col-] {
    padding-right: 5px;
    padding-left: 5px
}
.contact .form #sendmessage {
    color: #292f74;
    border: 1px solid #292f74;
    display: none;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

.contact .form #errormessage {
    color: red;
    display: none;
    border: 1px solid red;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

.contact .form #sendmessage.show,
.contact .form #errormessage.show,
.contact .form .show {
    display: block;
}

.contact .form .validation {
    color: red;
    display: none;
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 13px;
}

.contact .form input,
.contact .form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
}

.contact .form button[type="submit"] {
    background: #222;
    border: 1px solid white;
    border-radius: 20px;
    padding: 3% 8%;
    color: #fff;
}

.contact .form button[type="submit"]:hover {
    cursor: pointer;
    background: #666;
    border: 0;
    border-radius: 20px;
    padding: 3% 8%;
    color: #fff;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    background: #fff;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
    padding: 30px 0;
    color: #333;
    font-size: 14px;
}

#footer .credits {
    font-size: 13px;
    color: #888;
}

#footer .footer-links a {
    color: #666;
    padding-left: 15px;
}

#footer .footer-links a:first-child {
    padding-left: 0;
}

#footer .footer-links a:hover {
    color: #1dc8cd;
}
